body
{
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topbar
{
    background-color: #0163c4;
    width:100%;
    height:40px;
}
.ctopbar
{
    width:100%;
    float:left;
}
.ctopbar ul li
{
    display: inline;
    padding-right: 40px;
}
a  
{
    text-decoration: none;
}
.ctopbar ul li a
{
    color:#fff;
    font-weight:500;
}
.ctopbar button
{
    float: right;
    background-color:rgb(208,132,34);
    color: #fff;
    margin: 40px;
}